.loader{
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .pageBackground {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: 10000;
    background-color: #000;
    position: absolute;
  }

  .spinner-border {
    margin: auto;
  }
}